
.page-header .fa {
	color:var(--alt-color);
}
.page-header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "menu-toggle cart"
    "logo logo"
    "pageTitle pageTitle";
    /* text-align: center; */
}
.nav-toggle{
    grid-area: menu-toggle;
    width: 3em;
    margin: 1em 0px 0px 1em;
    /* position: fixed; */
    /* float: right; */
    /* justify-content: flex-start; */
    /* justify-self: flex-start; */
}
.top-cart{
    grid-area: cart;
    display: flex;
    justify-content: flex-end;
    margin: 1em 1em 0px 0em;
}
.logo{
    grid-area: logo;
    justify-self: center
}
.m-hide{
    display: none;
}
.header-cart, .prodcut-list-cart{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between; 
    /* background-color: green; */
}
.logo{
    width:200px;
    justify-self: center
}
.page-title{
    grid-area: pageTitle;
    background-color: var(--global-color-secondary);
    text-align: center;
	margin-bottom: 1em;
}
.nav_style{
    background-color:var(--global-color-primary);
    padding: 2em;
    position: absolute;
    top: 8.6em;
    width: 100%;
    z-index: 1;
}
.navigation a{
    display:inline-block;
    padding:1em 4em;
    font-size: 1.3em;
}
.navigation>ul>li{
    border:1px solid #ccc;
    border-width:1px 0;
    text-align:center;
}

.navigation ul li:active,  .navigation ul li:hover{
    background-color : var(--secondary-on);
}
.navigation ul ul {
    display:none;
}
.navigation ul ul li {
    left:auto;  
    margin:0; 
    clear:left;
    width:100%;
}
.navigation ul ul li a,
.navigation ul li.active li a,
.navigation ul li:hover ul li a{
    font-size:1em;
    font-weight:normal; 
    line-height:1.4em; 
}
.navigation ul ul li a:hover,
.navigation ul li.active ul li a:hover,
.navigation ul li:hover ul li a:hover {
    background:var(--btn-color); 
    color:var(--prim-text-color);
}
/* Make the sub menus appear on hover */
.navigation ul li:hover ul,
.navigation ul li.hover ul { 
    background-color: var(--secondary-on);
    position: absolute;
    left: 30%;
    display:block;    
}
/* ======================== End of Header ================== */

/* ===================== main body ================================= */
.the-main, .post-main{
  display: grid;
  padding: 0 2em 2em 2em;
  margin-bottom: 2em;
}

.sidebar, .results{
  padding: 0 1em;
}
.results{
  margin-left: -4em;
}
.product{
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
.product .prod-details{
  /* background-color: red; */
  align-self: flex-start;
}
.prod-details h3{
  margin-top: 0;;
}
.product img{
  width: 250px;
  height: 280px;
}
/* ===================== main body Ends ============================ */

/* <==================== footer styling ====================> */
.main-footer{
  background-color: var(--secondary-on);
  /* margin: 0 -1em -1em -1em; */
  padding: 2em;
}
.footer-links{
  margin-bottom: 4em;
}
.footer-links div ol li {
  margin-bottom: .7em;
}
.legal, .social{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1em;
}
.legal :nth-child(2) {
 padding: 0 1em;
 border-left: .2em solid var(--alt-text-color);
 border-right: .2em solid var(--alt-text-color);
}
.social{
   margin-bottom: 2em;
}
.social-section{
  justify-content:center;
  text-align: center;
}
.footer-nav{
  text-align: center;
  padding-bottom: 1.5em;
  border-bottom: 1px solid var(--alt-text-color);
}
/*============================ footer end ========================================*/

/* =================== post blog ============================================== */
.post_block{
  box-shadow:5px 50px 50px 5px rgb(0, 0, 0); 
  padding: 2em;
  display: flex;
  gap: 2em;
}
.post-image{
  height: 14em;
	max-width: 100%;
  /* max-height: 100%; */
}

.about_box>h2{
  margin-top: 0;
}
/* =================== End blog ============================================== */


/* ========================================================================================================================= */

@media only screen and (min-width: 992px){

  /* ===================== main body ================================= */
  .the-main{
    /* box-shadow:5px 50px 50px 5px rgb(0, 0, 0);   */
    background-color: var(--global-color-primary);
    padding:3em;
    width:76em;
    margin:0em auto;
    padding-bottom: 2em;
    display: flex;
    flex-grow: inherit;
  }
  .post-main{
    /* box-shadow:5px 50px 50px 5px rgb(0, 0, 0);   */
    background-color: var(--global-color-primary);
    padding:3em;
    width:76em;
    margin:0em auto;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-areas:
    "sidebar results" ;

  }

  /* ============================ main body Ends =============================== */

  /* <=========================== Header styling ==============================> */
  .page-header{
      box-shadow:5px 50px 50px 5px rgb(0, 0, 0);  
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      grid-template-areas: 
      "search logo cart"
      "menu menu menu"
      "page-title page-title page-title";
  }
  .top-cart{
      grid-area: cart;
      display: flex;
      justify-content: flex-end;
      align-self: end;
  }
  .logo{
      grid-area: logo;
      justify-self: center
  }
  .nav_style{
      background-color:var(--global-color-primary);
      padding: 2em;
      position: relative;
      top: 8.6em;
      width: 100%;
  }
  .navigation{
      grid-area: menu;
      margin: 2em 0 0 0;
      z-index: 1;
  }
  .filt-toggle, .nav-toggle{
      display: none;
  }
  .navigation ul{
      display: flex;
      justify-content:center;
      /* gap: 4em; */
  }

  .navigation ul li{
      display:inline;
  }

  .m-hide{
      display: block;
  }
  .menu{
      z-index: 9999;
  }
  .menu>li:hover {
      background-color:var(--secondary-on);
  }
  .page-title{
      grid-area: page-title;
  }
  .page-header, .main-footer{
      padding:2em;
      width:76em;
      margin:0em auto;
  }
  .find{
      border: 0px;
      align-self: flex-start;
      /* height: 2.5em; */
  }
  .search {
      display: flex;
      /* justify-content: flex-start; */
      align-self:flex-end;
  }
  .search-bar{
      display: flex;
      /* justify-content: flex-end; */
      align-self: flex-end;
      grid-area: search;
  }
  input[type=search]{
      height: 2.5em;
      align-self: flex-end;
}
  .sticky {
      position: fixed;
      /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url(img/background-wood.jpg); */
      left: 0%;
      top: 0;
      width: 100%;
    }

  /* <================== Footer styling =================> */
    .page-footer{
        background-color: var(--secondary-on);

    }
    .sidebar{
        margin-top: 1em;
        width: 20em;
    }
    .footer-links{
        display: flex;
        justify-content: space-evenly;
    }
    .footer-about-us{
        width: 30em;
    }    

}

